<h1>[###AREA-ONE|html###]</h1>
<a href="?page=[###URL-VAR-ONE|url|html###]">HomePage</a>
<script>
let test = '[###JS-VAR-ONE|js###]';
console.log(test);
</script>
<br>
<img height="200" alt="origami-image" src="wpub/img/origami.jpg">
<pre>


Try Ctrl + C. Also, Ctrl + Z might help if you want to suspend a process.

For further information, man kill.

If you're curious about the difference between suspend and terminate, this answer is a good starting point; the TL;DR version is, a suspended process can be resumed later and its execution can continue. A terminated (and killed) process will be gone.
Share
Improve this answer
Follow
edited Aug 25 '17 at 13:58
answered Feb 2 '10 at 18:06
lorenzog
2,12211 gold badge1616 silver badges2626 bronze badges

    5
    Ctrl + c or ctrl + z does not work on zsh, MacOS Catalina. –
    Abhinav Saxena
    Aug 19 '20 at 14:19
    3
    Try CMD + (.) period/dot –
    Leo Caseiro
    Jun 15 '21 at 9:42
    1
    CMD + (.) period/dot works! –
    Vivek
    Aug 30 '21 at 16:29


</pre>