<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$(function(){
		$('#selecteaza-data').datepicker({
			dateFormat: 'yy-mm-dd',
			showButtonPanel: true,
			changeMonth: true,
			changeYear: true,
			showOtherMonths: true,
			selectOtherMonths: true,
			yearRange: '[###YEARS|js###]',
			maxDate: '+1M'
		}).prop('readonly', true);
	});
</script>
<form method="post"><center>
<h1>Choose your date of birth</h1>
<input type="text" id="selecteaza-data" name="dtime" >
<input type="submit" name="sub" value="check it">
</center></form>