<!-- bootsstrap UI, required by cart -->
<link href="modules/mod-ui-bootstrap/toolkit/bootstrap4/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="modules/mod-ui-bootstrap/toolkit/bootstrap4/js/bootstrap-bundle.js"></script>
<!-- cart -->
<link href="modules/mod-amazon/views/js/cart/jquery.smartCart.css" rel="stylesheet" type="text/css" media="all">
<script src="modules/mod-amazon/views/js/cart/jquery.smartCart.js"></script>
<!-- jQuery Cookie -->
<script src="lib/js/jquery/jquery.cookie.js"></script>
<!-- # -->
<script>
$(document).ready(function() {
	var cartSavedData = $.cookie('cart');
	if(cartSavedData) {
		try {
			cartSavedData = JSON.parse(cartSavedData);
		} catch(err){
			cartSavedData = null;
		}
		if(!Array.isArray(cartSavedData)) {
			cartSavedData = [];
		}
	}
	$('#smartcart').smartCart({
		cart: cartSavedData,
		saveData: function(cartJsonData) {
			$.cookie('cart', cartJsonData, { path: '/' });
		}
	});
});
</script>
<script>
function AddToCart(id, price, quantity, name) {
	if(id, price, quantity, name) {
		price = String(price || '');
		price = price.replace(/\$/g, '');
		$('#smartcart').smartCart('add', {
			unique_key: id,
			product_id: id,
			product_price: parseFloat(price),
			product_quantity: quantity,
			product_name: name
		});
	}
}
</script>
<aside class="col-md-4" style="position:absolute; top: 75px; right: 25px;">
	<form action="?page=amazon.checkout" method="POST">
		<div id="smartcart"></div>
	</form>
</aside>