  <link rel="stylesheet" href="/resources/demos/style.css">
<script type="text/javascript" src="lib/js/jquery/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
 $(document).on('click', '.prev', function () {
//1- get first element to check if it has class 'active',
// to prevent class 'active' from moving to prev button on click,
// if explanation isn't clear try removing if(){} to see it.
      const first = $(this).siblings().first();
      if (!first.hasClass('active')) {
//2- search <li>'s to get the one that has 'active' class.
        const active = $(this).siblings('.active');
//3- get the previous item of the <li class"active"> to move to.
        const prevItem = active.prev();
//4- get href of the item to redirect to.
        const link = prevItem.children('a').prop('href');
//5- remove 'active' class from the current <li> and give it to prev <li>.
        active.removeClass('active');
        prevItem.addClass('active');
//6- redirect to href of the new <li>.
        window.location.href = link;
      }
    });
    $(document).on('click', '.next', function () {
      const last = $(this).siblings().last();
      if (!last.hasClass('active')) {
        const active = $(this).siblings('.active');
        const nextItem = active.next();
        const link = nextItem.children('a').prop('href');
        active.removeClass('active');
        nextItem.addClass('active');
        window.location.href = link;
      }
    });
</script>

{% include Tpl_Dir__ ~ 'cart.inc.twig.htm' %}
{% if TABEL|length > 0 %}
<h2>{{RESULTS}}</h2>
<table class="ux-table ux-table-bordered">
<thead>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Image</th>
		<th>Price $</th>
		<th>Class</th>
		<th><span class="sfi sfi-cart"></span></th>
	</tr>
</thead>
<tbody>
	{% for key, line in TABEL %}
	<tr>
		<td>{{key + 1 + NUMSHIFT}}</td>
		<td>{{line.name}}</td>
		<td align="center">
			<img src="{{line.image}}" height="128">
		</td>
		<td align="right">{{line.price}}</td>
		<td>{{line.class}}</td>
		<td><button class="ux-button ux-button-small" onClick="AddToCart('{{line.id}}', '{{line.price}}', 1, '{{line.name}}');"><span class="sfi sfi-cart"></span> Add to Cart</button>
	</tr>
	{% endfor %}
</tbody>
</table>
<br>
{% if PAGES > 0 %}
<nav aria-label="Page navigation" title="Pages: {{PAGES + 1}}">
  <ul class="pagination">
    {% if SEARCH %}
    <li class="page-item previous"><a class="page-link" href="?page=amazon.search&search={{SEARCH|url_encode}}&ofs=0">First</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page=amazon.all&ofs=0">First</a></li>
    {% endif %}
    {% for i in 0..PAGES %}
      {% if SEARCH %}
      <li class="page-item {%if i == OFS %} active{% endif %}"><a class="page-link" href="?page=amazon.search&search={{SEARCH|url_encode}}&ofs={{i}}">{{i+1}}</a></li>
      {% else %}
      <li class="page-item {%if i == OFS %} active{% endif %}"><a class="page-link" href="?page=amazon.all&ofs={{i}}">{{i+1}}</a></li>
      {% endif %}
    {% endfor %}
    {% if SEARCH %}
    <li class="page-item"><a class="page-link" href="?page=amazon.search&search={{SEARCH|url_encode}}&ofs={{PAGES}}">Last</a></li>
    {% else %}
    <li class="page-item next"><a class="page-link" href="?page=amazon.all&ofs={{PAGES}}">Last</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% else %}
<h3> {{STRING}} </h3>
{% endif %}