<html>
<head>
<meta charset="utf-8">
<title>My App</title>

<script>
function getRandomNumber() {
	var rand = Math.random();
	alert(rand);
	return rand;
}
function goExecFunction(goFunctionName, ...args) {
	try {
		window[String(arguments[0])](...args) // functie definita in GO, returneaza promise
			.then(
				function(value){ // resolve (OK)
					try {
						eval(value);
					} catch(e) {
						alert('GO JS ERROR: ' + value)
					}
				},
				function(value){ // reject (ERROR)
					alert('GO JS Promise ERROR: ' + value)
				}
			);
	} catch(err) {
		alert('JS ERROR: ' + err);
	}
}
</script>
</head>
<body>
	<h1>My App</h1>

	<div id="rezultat" style="font-weight: bold; font-size: 1.5rem;"></div>
	<div class="centered">
		<div class="document-editor">
			<div class="toolbar-container"></div>
			<div class="content-container">
				<div id="editor" style="border: 1px solid #ECECEC;"></div>
			</div>
		</div>
	</div>
	<br>
	<button type="button" onClick="var data = editor.getData(); goExecFunction('goSaveData', String(data));">Salveaza</button>
	<br>
</body>
</html>
