<link href="modules/mod-ui-bootstrap/toolkit/bootstrap4/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="modules/mod-ui-bootstrap/toolkit/bootstrap4/js/bootstrap-bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<h1>{{MESSAGE}}</h1>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Your card data</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Card data">
  </div>
    <label for="exampleInputPassword1">Cupon</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Cupon">
  </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
