<link href="modules/mod-ui-bootstrap/toolkit/bootstrap4/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="modules/mod-ui-bootstrap/toolkit/bootstrap4/js/bootstrap-bundle.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
#Buton1 {
width: 150px
}

#Buton2 {
width: 150px
}
</style>

<h1>This is homepage</h1>

 <div id="demo" class="carousel slide" data-ride="carousel">


  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">

 <div class="carousel-item active">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_45M_v2_1x._CB432458380_.jpg" width="1500px" height="400px" alt="Third slide">
    </div>
    <div class="carousel-item">
<a href="?page=amazon.electronics">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Computers_1x._CB432469755_.jpg" width="1500px" height="400px" alt="Shop Electronics & Accesorise">
</a>
</div>
<div class="carousel-item">
<a href="?page=amazon.toys">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Toys_en_US_1x._CB431858161_.jpg" width="1500px" height="400px" alt="Shop Toys & Games">
</a>
</div>
  </div>


  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div id="card1" class="card">
<h4 class="card-title">Shop electronics</h4>
<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Computers_1x._CB432469755_.jpg">
    <a href="?page=amazon.electronics" id="Buton1" class="btn btn-primary stretched-link">Shop now</a>
</div>

<div id="card2" class="card">
  <div class="card-body">
	<h4 class="card-title">Shop toys</h4>
	<img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Toys_en_US_1x._CB431858161_.jpg">
    <a href="?page=amazon.toys" id="Buton2"  class="btn btn-primary stretched-link">Shop now</a>
  </div>
</div>