<link href="modules/mod-ui-bootstrap/toolkit/bootstrap4/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<script src="modules/mod-ui-bootstrap/toolkit/bootstrap4/js/bootstrap-bundle.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
#Buton1 {
width: 150px
}

#Buton2 {
width: 150px
}

#card {
	margin-top: -230px;
	margin-left: 321px;
}

#card1 {
	margin-top: -230px;
	margin-left: 642px;
}

#card2 {
	margin-top: -230px;
	margin-left: 963px;
}

</style>

<h1>This is homepage</h1>

 <div id="demo" class="carousel slide" data-ride="carousel">


  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>

  <div class="carousel-inner">

 <div class="carousel-item active">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_45M_v2_1x._CB432458380_.jpg" width="1500px" height="400px" alt="Third slide">
    </div>
    <div class="carousel-item">
<a href="?page=amazon.electronics">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Computers_1x._CB432469755_.jpg" width="1500px" height="400px" alt="Shop Electronics & Accesorise">
</a>
</div>
<div class="carousel-item">
<a href="?page=amazon.toys">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Toys_en_US_1x._CB431858161_.jpg" width="1500px" height="400px" alt="Shop Toys & Games">
</a>
</div>
    <div class="carousel-item">
<a href="?page=amazon.electronics">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Home_v2_en_US_2x._CB429090087_.jpg" width="1500px" height="400px" alt="Shop Home">
</a>
</div>
    <div class="carousel-item">
<a href="?page=amazon.music">
<img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonMusic/2021/Marketing/EvergreenQ1/Gateway/US-EN_AMU_EvergreenQ1_DMUX-3799_JZ_OnS_GW_Hero_D_1500x600_1X_CV2._CB412009348_.jpg" width="1500px" height="400px" alt="Shop Music">
</a>
</div>
  </div>

  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Computers_1x._CB432469755_.jpg">
  <div class="card-body">
    <h5 class="card-title">Shop electronics</h5>
    <a href="?page=amazon.electronics" class="btn btn-primary">Shp now</a>
  </div>
</div>

<div id="card" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Toys_en_US_1x._CB431858161_.jpg">
  <div class="card-body">
    <h5 class="card-title">Shop toys</h5>
    <a href="?page=amazon.electronics" class="btn btn-primary">Shp now</a>
  </div>
</div>

<div id="card1" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Home_v2_en_US_2x._CB429090087_.jpg">
  <div class="card-body">
    <h5 class="card-title">Shop home</h5>
    <a href="?page=amazon.electronics" class="btn btn-primary">Shp now</a>
  </div>
</div>

<div id="card2" class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonMusic/2021/Marketing/EvergreenQ1/Gateway/US-EN_AMU_EvergreenQ1_DMUX-3799_JZ_OnS_GW_Hero_D_1500x600_1X_CV2._CB412009348_.jpg">
  <div class="card-body">
    <h5 class="card-title">Shop music</h5>
    <a href="?page=amazon.music" class="btn btn-primary">Shp now</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_TV_2X._SY608_CB432517900_.jpg">
  <div class="card-body">
    <h5 class="card-title">Shop TV's</h5>
    <a href="?page=amazon.electronics" class="btn btn-primary">Shp now</a>
  </div>
</div>
